<p>tablecomponent works!</p>
<button (click)="createUser()">Create user</button>
<mat-table [dataSource]="datasource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            ID
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            {{row.id}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            Name
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            {{row.name}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            Age
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            {{row.age}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="job">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            Job
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            {{row.job}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="location">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            LOCATION
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            {{row.location}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            Action </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button (click)="editUser(row)"><mat-icon>edit</mat-icon></button>
            <button (click)="deleteuser(row)">Delete</button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displaycolumn"></mat-header-row>
    <mat-row *matRowDef="let row;columns :displaycolumn"></mat-row>

</mat-table>
<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
</mat-paginator>